<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <springProperty scope="context" name="logLevel" source="log.level" />
    <springProperty scope="context" name="logPath" source="log.path" />

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="com.gclfax" level="DEBUG" addtivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="org.activiti.engine" level="WARN" addtivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
        <root level="${logLevel}">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="sit,uat">

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
        <appender name="TEST-FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<Encoding>UTF-8</Encoding> -->
            <File>${logPath}/sms.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${logPath}/sms.%d{yyyy-MM-dd}-%i.log
                </FileNamePattern>
                <MaxHistory>30</MaxHistory>
                <TimeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <MaxFileSize>50MB</MaxFileSize>
                </TimeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>

        <appender name="stash"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>192.168.102.144:4560</destination>
            <encoder charset="UTF-8"
                     class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <logger name="org.springframework.web" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <logger name="org.springboot.sample" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <logger name="com.gclfax" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <root level="${logLevel}">
            <appender-ref ref="TEST-FILE" />
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prd">
        <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
        <appender name="PROD_FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<Encoding>UTF-8</Encoding> -->
            <File>${logPath}/sms.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${logPath}/sms.%d{yyyy-MM-dd}-%i.log
                </FileNamePattern>
                <MaxHistory>30</MaxHistory>
                <TimeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <MaxFileSize>50MB</MaxFileSize>
                </TimeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <appender name="stash"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>116.62.130.236:4570</destination>
            <encoder charset="UTF-8"
                     class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <logger name="org.springframework.web" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <logger name="org.springboot.sample" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <logger name="com.gclfax" level="WARN" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <logger name="org.activiti.engine" level="DEBUG" addtivity="false">
            <appender-ref ref="stash" />
        </logger>
        <root level="${logLevel}">
            <appender-ref ref="PROD_FILE" />
        </root>
    </springProfile>
</configuration>