<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../libs/validator.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2" >
				<input type="text"  v-model="q.username" @keyup.enter="query" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a v-if="hasPermission('pactDict:save')" class="btn btn-primary" @click="complete"><i class="fa fa-trash-o"></i>&nbsp;申请办理</a>
		</div>
		<table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">商品名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.productName" placeholder="商品名称"/>
					</div>
				</div><div class="form-group">
					<div class="col-sm-2 control-label">商品数量</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.num" placeholder="商品数量"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">金额</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.amount" placeholder="金额"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">创建时间</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.createDate" placeholder="创建时间"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">备注</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.remark" placeholder="备注"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">下单人</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="processInfo.userId" placeholder="下单人"/>
					</div>
				</div>
				<h2>审批意见</h2>
				<table class="tableAll" id="table02" rules="all">
					<tr>
						<td style="width: 16.4%">时间</td>
						<td style="width: 16.4%">批注人</td>
						<td style="width: 16.4%">批注</td>
					</tr>
					<tr  v-for="(_ ,index) in commentList">
						<td style="width: 16.4%">{{_.time}}</td>
						<td style="width: 16.4%">{{_.userId}}</td>
						<td style="text-align: left; background: #fff;">
							{{_.fullMessage}}
						</td>
					</tr>
				</table>
				<h2>提交</h2>
				<div class="form-group">
					<div class="col-sm-2 control-label">批注</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="params.comment" placeholder="批注"/>
					</div>
					<div class="col-sm-2 control-label">制定办理人</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="params.userid" placeholder="办理人"/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<div class="col-sm-4" v-for="(arr ,index) in outcomeList">
						<input type="button" class="btn btn-primary" @click="saveOrUpdate(arr)" :value="arr"/>
					</div>
					<div class="col-sm-2">
						&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
					</div>

				</div>
			</form>
		</div>
	</div>

<script src="../../js/modules/activiti/taskList.js"></script>
</body>
</html>